/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */

.flex {
    display: flex;
}

.border {
    border: 2px dashed black;
}

.border-white {
    border: 2px dashed #FFFFFF;
}

.main-container {
    height: 400px;
    width: 60%;
    max-width: 1200px;
    margin: 0 auto;
}

.row-reverse {
    flex-direction: row-reverse;
}

/* Header */

/* Navbar */

.navbar-header {
    background-color: #ADD8E6;
    padding: 15px;
}

.navbar {
    background-color: #DAA520;
    margin: 0 auto;
    width: 60%;
    max-width: 1080px;
}

/* Navbar Logo */

.navbar-logo {
    flex-basis: 20%;
    padding: 10px;
}

/* Navbar Link */

.navbar-link {
    height: 100%;
    flex-grow: 1;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}

.navbar-link-text {
    text-decoration: none;
    color: black;
}

/* Navbar Login */

.navbar-login {
    flex-basis: 20%;
    justify-content: flex-end;
    padding: 10px;
}

/* Jumbotron */

.jumbotron {
    background-color: #00008B;
    padding: 30px;
}

.jumbotron-container {
    background-color: #EE82EE;
    height: 300px;
    width: 45%;
    max-width: 900px;
    margin: 0 auto;
}

/* Main 

/* Main Macro Sections*/

.section-bg-white {
    background-color: #FFFFFF;
    padding: 30px;
}

.section-bg-gray {
    background-color: #D3D3D3;
    padding: 30px;
}

/* Main Background Color */

.bg-lightblue {
    background-color: #1E90FF;
    flex-basis: 60%;
}

.bg-pink {
    background-color: #FFC0CB;
    flex-basis: 40%;
}

.bg-green {
    background-color: #228B22;
    height: 700px;
}


/* Footer */

/* Footer Sections */

.section-bg-darkgray-big {
    background-color: #23272A;
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #FFFFFF;
}

.section-bg-darkgray-small {
    background-color: #23272A;
    border-bottom: 1px solid #FFFFFF;
    border-top: 1px solid #FFFFFF;
    padding-top: 20px;
}

/* Footer Background Color */

.bg-salmon {
    background-color: #F08080;
    flex-basis: 30%;
}

.bg-aqua {
    background-color: #20B2AA;
    flex-basis: 70%;
}

.bg-aqua-inside {
    flex-basis: 25%;
}

/* Footer Navbar */

.footer-navbar {
    background-color: #7FFFD4;
    height: 60px;
    justify-content: space-between;
    align-items: center;
}

.footer-navber-badge {
    background-color: #FFB6C1;
    padding: 5px;
}