/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Grnerics */

.flex {
    display: flex;
}

.border {
    border: 2px dashed black;
}

.row-reverse{
    flex-direction: row-reverse;
}

/* Header */

.navbar-header {
    background-color: #ADD8E6;
    padding: 15px;

}

/* Navbar */

.navbar {
    background-color: #DAA520;
    margin: 0 auto;
    width: 60%;
    max-width: 1080px;
}

/* Navbar Logo */

.navbar-logo {
    flex-basis: 20%;
    padding: 10px;
}

/* Navbar Link */

.navbar-link {
    height: 100%;
    flex-grow: 1;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}

.navbar-link-text {
    text-decoration: none;
    color: black;
}

/* Navbar Login */

.navbar-login {
    flex-basis: 20%;
    justify-content: flex-end;
    padding: 10px;
}

/* Jumbotron */

.jumbotron {
    background-color: #00008B;
    padding: 30px;
}

.jumbotron-container {
    display: block;
    background-color: #EE82EE;
    height: 300px;
    width: 45%;
    max-width: 900px;
    margin: 0 auto;
}

/* Sezione Principale */

.section-bg-white{
    background-color: #FFFFFF;
    padding: 30px;
}

.section-bg-gray{
    background-color: #D3D3D3;
    padding: 30px;
}

.container{
    height: 400px;
    width: 60%;
    max-width: 1200px;
    margin: 0 auto;
}

.bg-lightblue{
    background-color: #1E90FF;
    flex-basis: 60%;
}

.bg-pink{
    background-color: #FFC0CB;
    flex-basis: 40%;
}

.heigt-600{
    height: 600px;
}

.bg-green{
    background-color: #228B22;
}